body{
    margin: 0;
    padding: 0;
}
.app-layout {
    display: flex;
    gap: 40px; /* Equivalent to space-x-10 in Tailwind (40px space between flex items) */
  }
.auth-bg{
    width: 100vw;
    height: 100vh;
    background-color: rgb(62, 62, 62);
    position: fixed;
    color: rgb(187, 185, 185);
}

.auth-box{
    background-color: black;
    border: 2px solid white;
    height: 50vh;
    width: 70vw;
    border-radius: 20px;
    position: relative;
    top: 18%;
    left: 14%;
}

.auth-options{
    display: flex;
    background-color: rgb(62, 62, 62);
    height: 5vh;
    width: 70vw;
    position: relative;
    top: 19%;
    left: 14%;
    margin-top: 10px;
    font-size: 12px;
}

.lang{
    margin-left: 24px;
    width: 56vw;
}

.other{
    display: flex;
    gap: 1vw;
}

.sign-options{
    display: flex;
    margin-top: 5vh;
    margin-left: 10vw;
    width: 70%;
    border-radius: 20px;
}

.login{
    width: 48%;
    height: 4vh;
    background-color: rgb(62, 62, 62);
    color: white;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 20px; */
    border-top-left-radius : 20px;
    border-bottom-left-radius: 20px;
}

.sign-up{
    width: 50%;
    height: 4vh;
    background-color: white;
    color: black;
    margin-right: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 20px; */
    border-top-right-radius : 20px;
    border-bottom-right-radius: 20px;
}

.login-body{
    display: flex;
    height: 38vh;
    width: 68vw;
    margin-left: 1vw;
    margin-top: 1vh;
}
.signup-body{
    display: flex;
    height: 38vh;
    width: 68vw;
    margin-left: 1vw;
    margin-top: 1vh;
}

.login-show{
    width: 45%;
}
.signup-show{
    width: 25%;
}

.login-show-icon{
    height: 7vh;
    width: auto;
    border-radius: 100px;
    margin-top: 2vh;
    margin-left: 4vw;
}
.signup-show-icon{
    height: 7vh;
    width: auto;
    border-radius: 100px;
    margin-top: 2vh;
    margin-left: 4vw;
}

.login-show-data{
    margin-top: 2vh;
    margin-left: 4vw;
    color: white;
}
.signup-show-data{
    margin-top: 2vh;
    margin-left: 4vw;
    color: white;
}

.login-form{
    width: 55%;
}

.signup-form{
    width: 75%;
    display: flex;
}

.signup-form form{
    display: flex;
}

.signup-form-left{
    width: 25vw;
}
.signup-form-right{
    width: 25vw;
}

.login-form-input{
    width: 80%;
    height: 3vh;
    border-radius: 7px;
    color: white;
    background-color: rgb(62, 62, 62);
}

.login-form-submit{
    margin-top: 7vh;
    margin-left: 19vw;
    display: flex;
    gap: 1vw;
}

.login-submit-clear{
    background-color: black;
    color: white;
    border-radius: 25px;
    height: 5vh;
    width: 5vw;
    font-size: 16px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-submit-clear:hover{
    background-color: rgb(62, 62, 62);
}

.login-submit-submit{
    background-color: white;
    color: black;
    border-radius: 25px;
    height: 5vh;
    width: 5vw;
    font-size: 16px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-submit-submit:hover{
    font-size: 1.1em;
}

.signup-form-submit{
    margin-top: 7vh;
    margin-left: 7vw;
    display: flex;
    gap: 1vw;
}
.signup-form-submit-next{
    margin-top: 19vh;
    margin-left: 7vw;
    display: flex;
    gap: 1vw;
}

.signup-submit-clear{
    background-color: black;
    color: white;
    border-radius: 25px;
    height: 5vh;
    width: 5vw;
    font-size: 16px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-submit-clear:hover{
    background-color: rgb(62, 62, 62);
}

.signup-submit-next{
    background-color: white;
    color: black;
    border-radius: 25px;
    height: 5vh;
    width: 5vw;
    font-size: 16px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-submit-next:hover{
    font-size: 1.1em;
}

/* Navbar.css */

.navbar-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    margin: 20px;
}

.navbar-start {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 15vw;
    /* border: 1px solid gray; */
}

.navbar-home {
    cursor: pointer;
}
.navbar-home img {
    width: 3vw;
    border-radius: 30px;
}

.navbar-logo-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar-logo-container-div img{
    width: 3vw;
    border-radius: 30px;
}

.navbar-logo-text {
    font-weight: bold;
}

.navbar-center {
    margin: 0 20px;
}

.navbar-end {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.navbar-item {
    cursor: pointer;
}

/* Search.css */

.search-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 40vw;
    height: 50px;
  }
  
  .search-input {
    width: 100%;
    padding: 8px 16px;
    font-size: 18px;
    color: #4a4a4a;
    background-color: #fff;
    border: 1px solid #d1d5db;
    border-radius: 20px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .search-input::placeholder {
    color: #9ca3af;
  }
  
  .search-input:focus {
    border-color: transparent;
    box-shadow: 0 0 0 2px #60a5fa;
  }
  
  .search-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    padding: 0 16px;
    background-color: #6b21a8;
    color: #4a4a4a;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
  }
  
 /* SideNavbar.css */

.side-navbar {
    margin-left: 20px;
    width: 15vw;
    height: 100%;
    background-color: #0f0f0f;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding-top: 16px;
}

.section-navigation, .section-library {
    padding-top: 16px;
}

.menu-item {
    padding: 12px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-decoration-line: none;
}

.menu-item:hover {
    background-color: #383838;
}

.menu-item-content {
    display: flex;
    align-items: center;
    gap: 16px;
    
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #383838;
    margin: 8px 0;
}

.hidden {
    display: none;
}

:root {
    --background: #ffffff;
    --foreground: #0f0f0f;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0f0f0f;
      --foreground: #ededed;
    }
  }
  
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }

  .hamburger-svg-css{
    pointer-events:none;
    display:inherit;
    width:100%;
    height:100%;
    filter: invert(1);
  }

  /* .test-div{
    background-color: white;
    color: #0f0f0f;
    font-size: 24px;
    height: 100px;
    width: 100px;
    border: 2px solid black;
  } */

  .channel-details{
    display: flex;
    width: 80vw;
    gap: 20px;
    margin-top: 2px;
    margin-left: 20px;
    /* border: 2px solid white; */
    flex-direction: column;
  }

  .channel-details-cover{
        height: 20vh;
        width: 75vw;
        border-radius: 30px;
  }

  .channel-details-avatar img{
    height: 25vh;
    width: 25vh;
    border-radius: 1000px;
  }

  .channel-details-info{
    display: flex;
    gap: 20px;
  }

  /* .channel-details-info-about{
    border: 2px solid white;
  } */
  .channel-details-info-about-fullname{
    margin: 0;
    font-size: 52px;
    font-weight: bolder;
  }

  .channel-details-info-about-username{
    color: rgb(159, 158, 158);
    font-size: 14px;
  }

  .channel-details-info-about-buttons{
    margin-top: 3vh;
    display: flex;
    gap: 10px;
    font-size: 13px;
    font-weight: bold;
  }
  .channel-details-info-about-buttons div{
    background-color: rgb(46, 45, 45);
    padding: 10px;
    border-radius: 15px;
  }
  .channel-details-info-about-buttons div:hover{
    background-color: rgb(74, 73, 73);
  }

  .channel-details-options{
    display: flex;
    /* gap: 3vw; */
    margin-top: 2vh;
    color: rgb(159, 158, 158);
  }

  /* .channel-details-options-playlists{

  } */

  .channel-details-options-playlists-selected{
    color:white;
    text-decoration: underline;
    text-decoration-color: white;
  }

  .channel-details-options-community-selected{
    color:white;
    text-decoration: underline;
    text-decoration-color: white;
  }
  
  .channel-details-options-container{
    display: flex;
    gap: 2vw;
    margin-left: 4vw;
    cursor: pointer;
  }




  



